<% @page_title = "Overview" %>

<p>Welcome <%= current_user.name %>, you're all set! Feel free to hop into the organization mentions!</p>

<div class="grid lg:grid-cols-2 mt-5 gap-5">
  <div class="grid lg:grid-cols-2 gap-10">
    <%= render partial: "counter", locals: { path: mentions_path, color: "purple", icon: "question-mark-circle", title: "New Mentions", count: @new_count } %>
    <%= render partial: "counter", locals: { path: mentions_path(status: "open"), color: "blue", icon: "folder", title: "Total Open", count: @open_count } %>
    <%= render partial: "counter", locals: { path: mentions_path, color: "yellow", icon: "clock", title: "Unassigned Mentions", count: @unassigned_count } %>
    <%= render partial: "counter", locals: { path: mentions_path(status: "solved"), color: "red", icon: "check", title: "Total Solved", count: @solved_count } %>
  </div>
  <div class="rounded-2xl bg-blue-600">
    <div class="flex justify-between items-center text-white p-5">
      <span>Newest</span>
      <%= link_to mentions_path, { class: "size-12 rounded-lg p-4 hover:bg-white hover:text-blue-600", "data-turbo-frame" => :_top } do %>
        <%= heroicon("arrow-top-right-on-square") %>
      <% end %>
    </div>
    <div class="flex flex-col">
      <%= render partial: "mention", collection: @newest_mentions %>
    </div>
  </div>
</div>
