%h4= user.name
%hr

= render partial: 'shared/accounts', locals: { providers: UserAccount.providers.keys, model: user }

%hr

.row
  .col-12.my-3.col-lg-6
    %h3 New Personal Access Tokens
    %p.lead Fill in token name.
    = form_with url: user_personal_access_tokens_path(user), html: { autocomplete: 'off' }, class: 'form-inline' do |create_token_form|
      = create_token_form.text_field :name, required: true, placeholder: 'Token name', class: 'form-control col-8'
      = create_token_form.submit 'Create', name: nil, class: 'btn btn-primary col-3 ml-auto'

  .col-12.my-3.col-lg-6
    %h3 Existing Personal Access Tokens
    %p.lead Click to remove.
    .list-group.list-group-horizontal-lg.flex-wrap
      - user.personal_access_tokens.each do |personal_access_token|
        = button_to "Remove #{personal_access_token.name}",
          user_personal_access_token_path(user, personal_access_token), method: :delete,
          class: 'list-group-item list-group-item-action col-lg-6 text-center'
