.row.my-3
  .col-6.col-lg-10
    %h3 User
  .col-6.col-lg-2.d-flex.justify-content-end
    %h5.text-muted= @user.name
  %hr.border-2.border-top
.row
  .col-lg-6
    %h5 Account Settings
    %hr.border-2.border-top
    = render partial: 'shared/accounts', locals: { model: @user }
  .col-lg-6.mt-5
    %h5 Token Settings
    %hr.border-2.border-top
    .row.mb-5
      .col-12
        %h6.mb-3 Existing personal access tokens
        %hr.bg-light.border-2.border-top
        .list-group#personal-access-tokens
          - if @user.personal_access_tokens.any?
            = render partial: 'users/personal_access_token', collection: @user.personal_access_tokens
          - else
            .list-group-item
              %p.fst-italic
                You do not have any created token.

    .row
      .col-12
        %h6.mb-3 Create personal access token
        %hr.border-2.border-top
          = form_with url: user_personal_access_tokens_path(@user),
            html: { autocomplete: 'off', 'data-controller' => 'reset-form',
            'data-action' => 'turbo:submit-end->reset-form#reset' } do |create_token_form|
            .row
              .col-8.col-lg-10
                = create_token_form.text_field :name, required: true, placeholder: 'Enter token name', class: 'form-control'
              .col-4.col-lg-2
                = create_token_form.submit 'Create', name: nil, class: 'btn form-control btn-primary'
