.row.my-3
  .col.d-flex.align-items-center
    %span.fs-2.me-2 User
    %span.rounded-pill.text-white.bg-info.opacity-75.py-1.px-3
      = bi_icon('person-fill')
      = @user.name
.row
  %ul.nav.nav-tabs{ role: 'tablist' }
    %li.nav-item#account-settings-tab{ role: 'presentation' }
      = button_tag 'Account settings', class: 'nav-link active', role: 'tab',
        'data-bs-toggle' => 'tab', 'data-bs-target' => '#account-settings-tab-pane',
        'aria-controls' => 'account-settings-tab-pane', 'aria-selected' => true
    %li.nav-item#user-settings-tab{ role: 'presentation' }
      = button_tag 'User settings', class: 'nav-link', role: 'tab',
        'data-bs-toggle' => 'tab', 'data-bs-target' => '#user-settings-tab-pane',
        'aria-controls' => 'user-settings-tab-pane', 'aria-selected' => false
  .tab-content.mt-4
    .tab-pane.active#account-settings-tab-pane{ role: 'tabpanel', tabindex: '0',
      'aria-labelledby' => 'account-settings-tab' }
      = render partial: 'shared/accounts', locals: { model: @user }
    .tab-pane#user-settings-tab-pane{ role: 'tabpanel', 'aria-labelledby' => 'user-settings-tab', tabindex: '0' }
      .row
        .col-lg-6
          .card
            .card-body
              .card-title
                %p.fs-4.fw-bold Personal Access Tokens
                %p.text-muted Create or delete personal access tokens used for API access.
              .row
                = form_with url: user_personal_access_tokens_path(@user),
                  html: { autocomplete: 'off', 'data-controller' => 'reset-form',
                  'data-action' => 'turbo:submit-end->reset-form#reset' } do |create_token_form|
                  .row
                    .col-8.col-lg-8
                      = create_token_form.text_field :name, required: true,
                        placeholder: 'Enter token name', class: 'form-control'
                    .col-4.col-lg-4
                      = create_token_form.submit 'Create', name: nil, class: 'btn form-control btn-primary'
                .list-group.list-group-flush#personal-access-tokens
                  = render partial: 'users/personal_access_token', collection: @user.personal_access_tokens
