%h4.mt-4
  = @user.name

%hr

.row
  .col-lg-6
    %h4.display-6 Account Settings
    = render partial: 'shared/accounts', locals: { providers: UserAccount.providers.keys, model: @user }
  .col-lg-6
    .row
      %h4.display-6 Token Settings
      .col-12.mt-3.mb-5
        %h5 Existing Personal Access Tokens
        %hr
        .list-group.list-group-horizontal-lg.flex-wrap
          - if @user.personal_access_tokens.any?
            - @user.personal_access_tokens.each do |personal_access_token|
              = button_to "Remove #{personal_access_token.name}",
                user_personal_access_token_path(@user, personal_access_token), method: :delete,
                class: 'list-group-item list-group-item-action col-lg-6 text-center'
          - else
            %p
              %em You do not have any created token.

      .col-12.mt-3.mb-5
        %h5 New Personal Access Tokens
        %hr
          = form_with url: user_personal_access_tokens_path(@user), html: { autocomplete: 'off' },
              class: 'form-inline' do |create_token_form|
            .row
              .col-6
                = create_token_form.text_field :name, required: true, placeholder: 'Enter token name', class: 'form-control'
              .col-6
                = create_token_form.submit 'Create', name: nil, class: 'btn btn-primary'
