.list-group-item.col-lg-6{ id: dom_id(account) }
  .row
    .col-4.d-flex.align-items-center
      = bi_icon(account.provider, 'fs-4 me-2')
      %span.fw-bold= provider_human_name(account.provider)
    .col-4.d-flex.align-items-center
      %span.text-muted.mx-2= account.screen_name
    .col-4.d-flex.justify-content-end
      = link_to [model, account], 'data-turbo-method' => :delete, class: 'btn btn-outline-danger' do
        %span Remove
        = bi_icon('x-circle')
