<% klass = model.class.name.underscore.to_sym %>
<div class="list-group-item col-lg-6" id="<%= dom_id(account) %>">
  <div class="row">
    <div class="col-4 d-flex align-items-center">
      <%= bi_icon(account.provider, 'fs-4 me-2') %>
      <span class="fw-bold">
        <%= provider_human_name(account.provider) %>
      </span>
    </div>
    <div class="col-4 d-flex align-items-center justify-content-center">
      <span class="text-muted mx-2">
        <%= account.screen_name %>
      </span>
    </div>
    <div class="col-4 d-flex justify-content-end">
      <%= link_to [klass, account], 'data-turbo-method' => :delete, class: 'btn btn-outline-danger' do %>
        <span>Remove</span>
        <%= bi_icon('x-circle') %>
      <% end %>
    </div>
  </div>
</div>
