.row.mt-3
  .col-12.mt-3.mb-5
    %h6.mb-3 Existing accounts
    %hr.bg-light.border-2.border-top
    .row.list-group.list-group-horizontal-lg.flex-wrap.g-2
      - model.accounts.each do |account|
        .col-12
          %ul.list-group.list-group-light
            %li.list-group-item.d-flex.justify-content-between.align-items-center.border-top-0.border-bottom-0.border-light
              .d-flex.align-items-center
                .ms-1
                  %p.fw-bold.mb-1= provider_human_name(account.provider)
                  %p.text-muted.mb-0= account.email
              = link_to 'Remove', [model, account], class: 'btn btn-rounded btn-danger btn-sm',
                'data-turbo-method' => :delete
.row
  .col-12.mt-3.mb-5
    %h6.mb-3 Add account
    %hr.bg-light.border-2.border-top
    .row.list-group.list-group-horizontal-lg.flex-wrap.g-2
      - providers.each do |provider|
        - unless model.account_for_provider?(provider)
          .col-12
            %ul.list-group.list-group-light
              %li.list-group-item.d-flex.justify-content-between.align-items-center.border-top-0.border-bottom-0.border-light
                .d-flex.align-items-center
                  .ms-1
                  %p.fw-bold.mb-1= provider_human_name(provider)
                = auth_provider_link(provider, model.class.to_s.downcase, { class: 'bg-transparent border-0' }) do
                  %i.bi.bi-plus-lg.fs-4.text-primary
