<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Respondo</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
  </head>
  <body>
    <div class="grid grid-cols-2">
      <main class="h-screen flex items-center justify-center">
        <div class="border-1 border-gray-600 p-6 shadow-login w-75">
          <%= image_tag("logo_circle_white.svg") %>

          <div class="text-center text-lg font-bold mt-5">
            Sign in to <span class="text-switch">Respondo</span>
          </div>
          <hr/>
          <p class="mt-5">
            Sign in is only available with a Google or Microsoft AD account.
          </p>
          <div class="flex flex-col gap-3 mt-5">
            <%= auth_provider_link("google_oauth2", { class: "button", form_class: "m-auto" }, origin: "/") do %>
              Sign in with Google
            <% end %>
            <%= auth_provider_link("entra_id", { class: "button", form_class: "m-auto" }, origin: "/") do %>
              Sign in with Microsoft AD
            <% end %>
          </div>
        </div>
      </main>

      <aside class="flex justify-end">
        <%= image_tag("login_shapes.svg", class: "h-screen") %>
      </aside>
    </div>
  </body>
</html>
