!!!
%html{ lang: 'en' }
  %head
    %title Respondo
    %meta{ content: 'text/html; charset=UTF-8', 'http-equiv': 'Content-Type' }
    %meta{ charset: 'utf-8' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1, shrink-to-fit=no' }
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all'
  %body.d-flex.flex-column
    .row.min-vh-100
      .col-lg-6.d-flex.align-items-center.justify-content-center
        .card.color-shadow.px-3.px-lg-4.py-5
          .card-body
            .card-title.text-center.fs-3.fw-bold
              Sign in to
              %span.text-primary Respondo
            %hr
            %p.card-text.text-muted.text-center
              Sign in is only available with a Google or Microsoft AD account.
            .d-grid.gap-3
              = auth_provider_link('google_oauth2', 'user',
                { class: 'btn form-control btn-outline-dark' }, origin: '/') do
                %i.bi.bi-google.text-primary
                %span Sign in with Google
              = auth_provider_link('activedirectory', 'user',
                { class: 'btn form-control btn-outline-dark' }, origin: '/') do
                %i.bi.bi-microsoft.text-info
                %span Sign in with Microsoft AD
              - if Rails.env.development?
                = auth_provider_link('developer', 'user',
                  { class: 'btn form-control btn-danger text-light' }, origin: '/') do
                  %i.bi.bi-code-slash
                  %span Developer Sign In
      .col-lg-6.d-lg-flex.d-none.justify-content-end.pe-0
        = image_tag('login_shapes.svg', class: 'vw-50 vh-100')
