<div class="col-12">
  <div class="card">
    <div class="card-header border-0">
      <div class="row">
        <div class="col-lg-2 d-flex align-items-center justify-content-start justify-content-lg-start mb-2 mb-lg-0">
          <% if ticket.parent_id.nil? %>
            <span class="badge text-bg-primary rounded opacity-75 fs-6 me-1">
              <%= bi_icon(ticket.provider) %>
              <%= ticket.source.screen_name %>
            </span>
          <% end %>
        </div>
        <div class="col-lg-9 mb-2 mb-lg-0 d-flex align-items-center">
          <div class="d-flex flex-wrap" id="<%= dom_id(ticket) %>_tags">
            <span class="d-flex order-last align-items-center me-1">
              <%= form_with url: ticket_tags_path(ticket),
                            model: ActsAsTaggableOn::Tag.new, method: :post,
                            html: { 'data-controller' => 'form', 'data-action' => 'turbo:submit-end->form#reset' } do |tag_form| %>
                <span class="d-flex align-items-center me-1 text-white">
                  <%= tag_form.text_field :name, required: true, placeholder: 'add tag', class: 'form-control form-control-sm border-0 text-info w-50 opacity-75' %>
                </span>
              <% end %>
            </span>
            <%= render partial: 'tickets/tag', collection: ticket.tags, as: :tag, locals: { ticket: } %>
          </div>
        </div>
        <div class="col-lg-1 d-flex justify-content-start justify-content-lg-end align-items-center">
          <div class="dropdown">
            <div class="text-muted" type="button" id="actionsDropdown" data-bs-toggle="dropdown" aria-expanded="false">
              <%= bi_icon('three-dots', 'fs-4') %>
            </div>
            <ul class="dropdown-menu" aria-labelledby="actionsDropdown">
              <% if ticket.parent_id.nil? %>
                <li><%= link_to 'View', ticket_path(ticket), class: 'dropdown-item', 'data-turbo-frame' => :_top %></li>
              <% end %>
              <li>
                <%= link_to 'External View', ticket_permalink_path(ticket), 'data-turbo-frame' => :_top, id: "permalink-#{ticket.id}", class: 'dropdown-item' %>
              </li>
              <% if ticket.creator.present? %>
                <li>
                  <%= link_to 'Delete', ticket_path(ticket), 'data-turbo-method' => :delete, id: "delete-#{ticket.id}", class: 'dropdown-item' %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <span class="fw-bold">
          <span class="m-0"><%= raw(ticket_author_header(ticket)) %></span>
        </span>
      </div>
      <div class="row my-3">
        <span><%= ticket.content %></span>
      </div>
      <div class="row my-1">
        <small>
        <%= link_to "#{time_ago_in_words(ticket.created_at)} ago at #{ticket.created_at.to_fs(:short)}", ticket_path(ticket), class: 'link-secondary text-decoration-none', 'data-turbo-frame' => '_top' %>
        </small>
      </div>
      <div class="row mb-2">
        <div class="col-lg-6 d-flex align-items-center justify-content-start">
          <span class="text-muted me-3">
            <%= bi_icon('chat', 'text-info') %>
            <%= ticket.replies.size %>
          </span>
          <%= link_to "##{dom_id(ticket)}_internal_notes_dropdown", role: 'button', aria: { expanded: 'false', controls: "#{dom_id(ticket)}_internal_notes_dropdown" }, 'data-bs-toggle' => 'collapse', class: 'text-muted text-decoration-none' do %>
            <%= bi_icon('sticky', 'text-warning') %>
            <span><%= ticket.internal_notes.size %></span>
          <% end %>
          <%= form_with url: ticket_assignments_path(ticket),
                        model: ticket, method: :post do |assignment_form| %>
            <div class="input-group input-group-sm ms-3">
              <%= assignment_form.fields_for :assignment, ticket.assignment do |assignee_field| %>
                <%= assignee_field.collection_select :user_id, ticket.organization.users, :id, :name,
                                                     { include_blank: 'Unassigned' },
                                                     { required: false, class: 'custom-select form-control form-control-sm text-muted text-center', id: 'ticket-assignment',
                                                       data: { controller: 'form', action: 'change->form#submit' } } %>
              <% end %>
            </div>
          <% end %>
        </div>
        <div class="col-lg-6 d-flex align-items-center justify-content-end">
          <%= form_with url: ticket_path(ticket),
                        model: ticket, method: :patch do |status_form| %>
            <div class="input-group input-group-sm">
              <%= status_form.select :status, options_for_select(Ticket.statuses.keys, ticket.status),
                                     { include_blank: 'Select status' }, { id: 'ticket-status', required: true, class: 'custom-select form-control text-center rounded', data: { controller: 'form', action: 'change->form#submit' } } %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="row collapse" id="<%= dom_id(ticket) %>_internal_notes_dropdown">
        <ul class="list-group list-group-flush p-0" id="<%= dom_id(ticket) %>_internal_notes">
          <li class="order-last list-group-item list-group-item-warning border-top">
            <span class="small">
            <%= bi_icon('sticky') %>
            </span>
            <span class="small me-1"><%= current_user.name %>:</span>
            <small>
              <%= form_with url: ticket_internal_notes_path(ticket),
                            model: InternalNote.new, method: :post,
                            html: { autocomplete: 'off',
                                    'data-controller' => 'form',
                                    'data-action' => 'turbo:submit-end->form#reset' } do |internal_note_form| %>
                        <div class="input-group input-group-sm mb-3">
                          <%= internal_note_form.text_area :content, required: true, placeholder: 'Write a note...', class: 'form-control form-control-sm border-0 border-bottom' %>
                          <%= internal_note_form.submit 'Create Note', class: 'btn btn-sm btn-primary opacity-75' %>
                        </div>
              <% end %>
            </small>
          </li>
          <%= render partial: 'tickets/internal_note', collection: ticket.internal_notes %>
        </ul>
      </div>
    </div>
    <% if ticket.status == 'open' %>
      <div class="card-footer border-0">
        <%= form_with url: ticket_replies_path(ticket),
                      model: reply_model, method: :post,
                      html: { autocomplete: 'off', data: { controller: 'loading ai-response', ai_response_ticket_path_value: ticket_path(ticket) } } do |reply_form| %>
          <div class="row">
            <div class="col-10 d-flex align-items-center">
              <%= reply_form.text_area :content, required: true, placeholder: 'Reply', class: 'form-control border-0',
                                                  data: { loading_target: 'spinner', ai_response_target: 'parameter' } %>
            </div>
            <div class="col-2 d-flex justify-content-end align-items-center">
              <%= link_to '#', class: 'btn btn-link', data: { action: 'click->ai-response#addParam click->loading#start' } do %>
                <%= bi_icon('lightning', 'fs-2') %>
              <% end %>
              <%= reply_form.button class: 'border-0 bg-transparent btn btn-link rounded-circle' do %>
                <%= bi_icon('telegram', 'fs-2') %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
