<% @page_title = "Mentions" %>
<% @search = true %>

<ul class="tablist">
  <% Mention.statuses.each_key do |status| %>
    <li>
      <%= active_link_to mentions_path(status:), active: { status: }, class: "nav-link" do %>
        <%= status.capitalize %>
      <% end %>
    </li>
  <% end %>
  <li>
    <%= active_link_to mentions_path(assignee: Current.user.id), active: { assignee: Current.user.id }, class: "nav-link" do %>
      Assigned to me
    <% end %>
  </li>
  <li class="ms-auto">
    <%= link_to sync_mentions_path, class: "button", "data-turbo-method" => :post, "data-turbo-frame" => :_top do %>
      Reload
    <% end %>
  </li>
</ul>

<div class="my-2">
  <%= render partial: "mentions/mentions", locals: { mentions: @mentions } %>
</div>

<%= render partial: "shared/pagination", locals: { page: @page } %>
