-# haml-lint:disable ViewLength
- subscription_status = @brand.subscription&.status
- checkout_redirect_path = request.original_url
.row.my-3
  .col.d-flex.align-items-center
    %span.fs-2.me-2 Brand
    %span.rounded-pill.text-white.bg-danger.opacity-75.py-1.px-3
      = bi_icon('people-fill')
      = @brand.screen_name
.row
  %ul.nav.nav-tabs{ role: 'tablist' }
    %li.nav-item#account-settings-tab{ role: 'presentation' }
      = button_tag 'Account settings', class: 'nav-link active', role: 'tab',
        'data-bs-toggle' => 'tab', 'data-bs-target' => '#account-settings-tab-pane',
        'aria-controls' => 'account-settings-tab-pane', 'aria-selected' => true
    %li.nav-item#team-settings-tab{ role: 'presentation' }
      = button_tag 'Team settings', class: 'nav-link', role: 'tab',
        'data-bs-toggle' => 'tab', 'data-bs-target' => '#team-settings-tab-pane',
        'aria-controls' => 'team-settings-tab-pane', 'aria-selected' => false
  .tab-content.mt-4
    .tab-pane.active#account-settings-tab-pane{ role: 'tabpanel', tabindex: '0',
      'aria-labelledby' => 'account-settings-tab' }
      = render partial: 'shared/accounts', locals: { model: @brand }
    .tab-pane#team-settings-tab-pane{ role: 'tabpanel', 'aria-labelledby' => 'team-settings-tab', tabindex: '0' }
      .row
        .col-lg-6
          .card.h-100
            .card-body
              .card-title
                %p.fs-4.fw-bold Brand Domain
                %p.text-muted Add users from your email domain automatially to your team.
              %hr.border-2.border-top
              = form_with model: @brand, method: :patch do |update_brand_form|
                .row
                  .col-8.col-lg-8
                    = update_brand_form.text_field :domain, required: true, placeholder: 'domain.com',
                      class: 'form-control'
                  .col-4.col-lg-4
                    = update_brand_form.submit 'Update', name: nil, class: 'btn form-control btn-primary'
        .col-lg-6
          .card.h-100
            .card-body
              .card-title
                %p.fs-4.fw-bold Subscription
              - if Flipper.enabled?(:subscriptions)
                %p
                  Subscription status:
                  %span.badge{ class: "badge-#{subscription_badge_class(subscription_status)}" }
                    = subscription_status || 'no subscription'
                - if @brand.subscription&.running?
                  = button_tag 'Update Payment Details', class: 'btn btn-primary', id: 'update-subscription'
                  = button_tag 'Cancel Subscription', class: 'btn btn-primary', id: 'cancel-subscription'
                - else
                  = button_tag 'Buy Subscription', class: 'btn btn-primary', id: 'buy-subscription'
              - else
                %p.text-muted Subscriptions are currently disabled.
      .row.mt-4
        .col-12
          .card
            .card-body
              .card-title
                %span.fs-4.fw-bold Brand team
              .row
                = form_with url: brand_users_path(@brand), method: :post,
                  html: { 'data-controller' => 'reset-form',
                  'data-action' => 'turbo:submit-end->reset-form#reset' } do |add_user_form|
                  .row
                    .col-8.col-lg-4
                      = add_user_form.select :user_id, nil, { include_blank: 'Select user' },
                        { required: true, class: 'custom-select form-control', id: 'add-user' } do
                        - unless add_users_dropdown_options_for.empty?
                          - add_users_dropdown_options_for.each do |id, name|
                            %option{ value: id }= name
                    .col-4.col-lg-1
                      = add_user_form.submit 'Add', class: 'btn form-control btn-primary'
              .row.mt-3
                .col-12
                  %span Members
                  %hr.my-3
                  .list-group.list-group-flush.mw-100.flex-wrap#users-in-brand
                    = render partial: 'brands/user', collection: @brand_users
                  .row.mt-3
                    .d-flex.justify-content-center
                      != pagy_bootstrap_nav(@pagy)
= content_for :custom_javascript do
  - if Rails.application.credentials.dig(:paddle, :vendor_id)
    %script{ src: 'https://cdn.paddle.com/paddle/paddle.js' }
    :javascript
      Paddle.Setup({ vendor: #{Rails.application.credentials.dig(:paddle, :vendor_id)} })
    -# rubocop:disable Style/IdenticalConditionalBranches
    - if @brand.subscription&.running?
      :javascript
        function cancelSubscription() {
          Paddle.Checkout.open({
            override: "#{@brand.subscription.cancel_url}", success: "#{checkout_redirect_path}"
          })
        }
        function updateSubscription() {
          Paddle.Checkout.open({
            override: "#{@brand.subscription.update_url}", success: "#{checkout_redirect_path}"
          })
        }
        document.getElementById('cancel-subscription').addEventListener('click', cancelSubscription, false)
        document.getElementById('update-subscription').addEventListener('click', updateSubscription, false)
    - else
      :javascript
        function buySubscription() {
          Paddle.Checkout.open({
            product: 592438, allowQuantity: false, quantity: "#{@brand.users.count}",
            passthrough: "{\"brand_id\": #{@brand.id}}", success: "#{checkout_redirect_path}"
          })
        }
        document.getElementById('buy-subscription').addEventListener('click', buySubscription, false)
    -# rubocop:enable Style/IdenticalConditionalBranches
-# haml-lint:enable ViewLength
