<% @page_title = "Settings" %>

<div data-controller="tabs" data-tabs-active-tab-class="active">
  <ul class="tablist">
    <li data-tabs-target="tab" data-action="click->tabs#change:prevent">
      <a href="#">Identity</a>
    </li>
    <li data-tabs-target="tab" data-action="click->tabs#change:prevent">
      <a href="#">Team</a>
    </li>
  </ul>

  <div class="hidden py-4 px-4 grid lg:grid-cols-2 gap-5" data-tabs-target="panel">
    <div class="card">
      <h3>Add account</h3>
      <div class="flex flex-col gap-3" id="account-providers">
        <%= render partial: "shared/account_provider", collection: OrganizationAccount.providers.keys,
          as: :account_provider %>
      </div>
    </div>

    <div class="card">
      <h3>Existing accounts</h3>
      <%= render partial: "shared/accounts", locals: { model: @organization } %>
    </div>

    <div class="card">
      <h3>AI Guidelines</h3>
      <%= form_with model: @organization, url: organization_path, method: :patch do |update_organization_form| %>
        <%= update_organization_form.label :ai_guidelines, "Explain what your company does and the tone you want the AI to respond with." %>

        <div class="border-b border-gray-200 pb-px focus-within:border-b-2 focus-within:border-indigo-600 focus-within:pb-0 mt-5">
          <%= update_organization_form.text_area :ai_guidelines, required: true, rows: 3, class: "flush", placeholder: "Respondo is an AI social media mentioning system. You should respond in a friendly tone." %>
        </div>
        <div class="flex justify-end pt-2">
          <%= update_organization_form.submit "Update", name: nil, class: "button" %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="hidden py-4 px-4 grid lg:grid-cols-2 gap-5" data-tabs-target="panel">
    <div class="card lg:col-span-2">
      <h3>Domain</h3>
      <p>Add users from your email domain automatially to your team.</p>
      <%= form_with model: @organization, url: organization_path, method: :patch do |update_organization_form| %>
        <%= update_organization_form.text_field :domain, required: true, placeholder: "domain.com" %>
        <%= update_organization_form.submit "Update", name: nil, class: "button" %>
      <% end %>
    </div>

    <div class="card">
      <h3>Add users</h3>
      <%= form_with url: organization_users_path, method: :post, html: { "data-controller" => "form", "data-action" => "turbo:submit-end->form#reset" } do |add_user_form| %>
        <%= add_user_form.select :user_id, nil, { include_blank: "Select user" }, { required: true, id: "add-user" } do %>
          <% unless add_users_dropdown_options_for.empty? %>
            <% add_users_dropdown_options_for.each do |id, name| %>
              <option value="<%= id %>">
              <%= name %>
              </option>
            <% end %>
          <% end %>
        <% end %>
        <%= add_user_form.submit "Add", class: "button" %>
      <% end %>
    </div>

    <div class="card">
      <h3>Remove users</h3>
      <div class="flex flex-col gap-3" id="users-in-organization">
        <%= render partial: "organizations/user", collection: @page.records %>
      </div>

      <%= render partial: "shared/pagination", locals: { page: @page } %>
    </div>
  </div>
</div>
