%ul.list-group.mt-3
  - tickets.each do |ticket, replies|
    %li.list-group-item.mt-3
      .row.ml-3.mb-3
        - if user_authorized_for?(current_user, brand) && ticket.user
          %span.font-weight-bold.mr-1 #{ticket.user.name} as #{ticket.author.username}:
        - else
          %span.font-weight-bold.mr-1 #{ticket.author.username}:
        %span= ticket.content
      .row
        - if user_authorized_for?(current_user, brand) || user_can_reply_to?(current_user, ticket.provider)
          = form_with url: brand_ticket_reply_path(brand, ticket),
            class: 'form-inline col-sm-10', html: { autocomplete: 'off' } do |reply_form|
            = reply_form.text_field :response_text, required: true, placeholder: 'Reply', class: 'form-control col-sm-9'
            = reply_form.submit 'Reply', class: 'btn btn-secondary col-sm-2 ml-auto'

        - if user_authorized_for?(current_user, brand)
          = button_to invert_status_action(ticket.status), brand_ticket_invert_status_path(brand, ticket),
            form_class: 'form-inline col-sm-2 ml-auto', class: 'btn btn-success col-sm-12'

      - if user_authorized_for?(current_user, brand)
        - if ticket.comments.any?
          %ul.list-group.mt-3.mb-3
            - ticket.comments.each do |comment|
              %li.list-group-item.list-group-item-warning.mt-2
                %span.font-weight-bold.mr-1 #{comment.user.name}:
                %span= comment.content

        = form_with url: brand_ticket_comment_path(brand, ticket),
          class: 'form-inline col-sm-10 mt-1', html: { 'data-turbolinks-persist-scroll' => true, autocomplete: 'off' } do |reply_form|
          = reply_form.text_field :comment_text, required: true, placeholder: 'Comment', class: 'form-control col-sm-9'
          = reply_form.submit 'Comment', class: 'btn btn-secondary col-sm-2 ml-auto'

      - if replies.any?
        = render partial: 'tickets', locals: { brand: brand, tickets: replies }
