.row
  .col-12
    .card.mt-5
      .card-header
        .row
          .col-4.col-lg-5
            %p.m-0!= ticket_author_header(policy(ticket.brand).user_in_brand?, ticket)
          .col-2.col-lg-2.d-flex.justify-content-start.justify-content-lg-center
            %span.small.text-muted= ticket.created_at.to_formatted_s(:short)
          .col-2.col-lg-2.d-flex.justify-content-start.justify-content-lg-end
            - ticket.tags.each do |tag|
              %span.badge.rounded-pill.bg-primary
                = tag.name
                = link_to brand_ticket_tag_path(ticket.brand, ticket, tag), 'data-turbo-method': :delete do
                  = bi_icon('trash3-fill', 'text-white')
          .col-2.col-lg-2.d-flex.justify-content-start.justify-content-lg-end
            - if ticket.parent_id.nil?
              .text-primary= bi_icon(ticket.actual_provider)
          .col-2.col-lg-1.d-flex.justify-content-start.justify-content-lg-end
            = link_to brand_ticket_path(ticket.brand, ticket), 'data-turbo-frame' => :_top do
              = bi_icon('box-arrow-up-right')
      .card-body.mx-5
        .card-text
          %p= ticket.content

      - if policy(ticket).internal_note? && ticket.internal_notes.any?
        %ul.list-group.list-group-flush
          - ticket.internal_notes.each do |internal_note|
            %li.list-group-item.list-group-item-warning
              %span.me-1 #{internal_note.creator.name}:
              %span= internal_note.content

      .card-footer
        - if policy(ticket.brand).subscription? || Flipper.enabled?(:disable_subscriptions)
          .row
            - if local_assigns[:action_form]
              - case action_form
              - when 'reply'
                - if policy(ticket).reply?
                  .col-12
                    = form_with url: brand_ticket_replies_path(ticket.brand, ticket),
                      model: ticket.replies.new, method: :post,
                      html: { autocomplete: 'off' } do |reply_form|
                      .input-group.mb-3
                        = reply_form.text_area :content, required: true, placeholder: 'Reply Text', class: 'form-control'
                        = reply_form.button bi_icon('x-lg'), type: :reset, class: 'btn btn-outline-danger'
                      = reply_form.submit 'Reply', class: 'btn btn-outline-secondary'
                      = link_to bi_icon('skip-backward'), brand_ticket_path(ticket.brand, ticket), class: 'btn btn-outline-danger'
              - when 'internal_note'
                - if policy(ticket).internal_note?
                  .col-12
                    = form_with url: brand_ticket_internal_notes_path(ticket.brand, ticket),
                      model: ticket.internal_notes.new, method: :post,
                      html: { autocomplete: 'off' } do |internal_note_form|
                      .input-group.mb-3
                        = internal_note_form.text_area :content, required: true,
                          placeholder: 'Internal Note Text', class: 'form-control'
                        = internal_note_form.button bi_icon('x-lg'), type: :reset, class: 'btn btn-outline-danger'
                      = internal_note_form.submit 'Post', class: 'btn btn-outline-secondary'
                      = link_to bi_icon('skip-backward'), brand_ticket_path(ticket.brand, ticket), class: 'btn btn-outline-danger'
            - else
              .col-12.col-lg-6
                .row
                  - if policy(ticket).reply?
                    .col-lg-1
                      = link_to bi_icon('reply', 'fs-5'), brand_ticket_path(ticket.brand, ticket, action_form: 'reply'),
                        class: 'card-link', id: "toggle-reply-#{ticket.id}"
                  - if policy(ticket).internal_note?
                    .col-lg-1
                      = link_to bi_icon('sticky', 'fs-5'), brand_ticket_path(ticket.brand, ticket, action_form: 'internal_note'),
                        class: 'card-link', id: "toggle-internal-note-#{ticket.id}"
                  - if policy(ticket).update?
                    .col-lg-10
                      = form_with url: brand_ticket_path(ticket.brand, ticket),
                        model: ticket, method: :patch do |invert_status_form|
                        .row
                          .col-6
                            = invert_status_form.select :status, options_for_select(Ticket.statuses.keys, ticket.status), {}, required: true, class: 'custom-select form-control'
                          .col-6
                            = invert_status_form.submit 'Update Status', class: 'btn btn-primary'
              .col-12.col-lg-6
                = form_with url: brand_ticket_tags_path(ticket.brand, ticket), model: ticket.tags.new, method: :post do |tag_form|
                  .row
                    .col-lg-9
                      = tag_form.text_field :name, placeholder: 'Add tags to ticket',
                        required: true, class: 'form-control'
                    .col-lg-3
                      = tag_form.submit 'Add Tags', class: 'form-control btn-primary'
