- user_authorized = user_authorized_for?(current_user, brand)
-# Only authorized users can respond to external tickets
- user_can_reply = user_authorized || (user_can_reply_to?(current_user, ticket.actual_provider) && !ticket.external?)

.row.ml-3.mb-3
  %span.font-weight-lighter.mr-1= ticket_header_content(user_authorized, ticket, brand)
.row.ml-3
  %span.font-weight-normal= ticket.content

- if user_authorized
  - if ticket.internal_notes.any?
    %ul.list-group.mt-3.mb-3
      - ticket.internal_notes.each do |internal_note|
        %li.list-group-item.list-group-item-warning.mt-2
          %span.font-weight-bold.mr-1 #{internal_note.user.name}:
          %span= internal_note.content

.row.ml-3.mt-2{ id: "toggleButtons#{ticket.id}" }
  - if user_can_reply
    = button_tag fa_icon('reply'), class: 'btn btn-light', id: "toggleReply#{ticket.id}",
      'data-toggle' => 'tooltip', 'data-placement': 'bottom', title: 'Toggle reply form'
  - if user_authorized
    = button_tag fa_icon('sticky-note'), class: 'btn btn-light ml-2 mr-2', id: "toggleInternalNote#{ticket.id}",
      'data-toggle' => 'tooltip', 'data-placement': 'bottom', title: 'Toggle internal note form'
    = button_to brand_ticket_invert_status_path(brand, ticket), form_class: 'form-inline', class: 'btn btn-outline-success',
      'data-toggle' => 'tooltip', 'data-placement': 'bottom', title: invert_status_action_text(ticket.status) do
      = invert_status_action(ticket.status)

.row.ml-3.mt-2
  - if user_can_reply
    = form_with url: brand_ticket_reply_path(brand, ticket), class: 'form-inline col-sm-12', id: "replyForm#{ticket.id}",
      html: { 'data-turbolinks-persist-scroll' => true, autocomplete: 'off', hidden: '' } do |reply_form|
      .form-group.col-sm-9
        = reply_form.text_field :response_text, required: true, placeholder: 'Reply', class: 'form-control col-sm-12'
      = reply_form.submit 'Reply', class: 'btn btn-light', id: "reply#{ticket.id}"
      = reply_form.button fa_icon('times'), type: :reset, class: 'btn btn-outline-danger ml-auto', id: "replyReset#{ticket.id}"
  - if user_authorized
    = form_with url: brand_ticket_internal_note_path(brand, ticket), class: 'form-inline col-sm-12',
      id: "internalNoteForm#{ticket.id}", html: { 'data-turbolinks-persist-scroll' => true, autocomplete: 'off',
      hidden: '' } do |reply_form|
      .form-group.col-sm-9
        = reply_form.text_field :internal_note_text, required: true, placeholder: 'Post Internal Note', class: 'form-control col-sm-12'
      = reply_form.submit 'Post Internal Note', class: 'btn btn-light', id: "internalNote#{ticket.id}"
      = reply_form.button fa_icon('times'), type: :reset, class: 'btn btn-outline-danger ml-auto', id: "internalNoteReset#{ticket.id}"
