.row
  .col-lg-8
    .row.ml-3.mb-3
      %span.font-weight-lighter.mr-1!= ticket_header_content(policy(ticket.brand).user_in_brand?, ticket)
    .row.ml-3.mb-3
      %span.font-weight-normal= ticket.content

    - if policy(ticket).internal_note? && ticket.internal_notes.any?
      %ul.list-group.mb-3
        - ticket.internal_notes.each do |internal_note|
          %li.list-group-item.list-group-item-warning
            %span.font-weight-bold.mr-1 #{internal_note.creator.name}:
            %span= internal_note.content

    - if policy(ticket.brand).subscription? || Flipper.enabled?(:disable_subscriptions)
      .row.mt-2
        - if local_assigns[:action_form]
          - case action_form
          - when 'reply'
            - if policy(ticket).reply?
              = form_with url: brand_ticket_reply_path(ticket.brand, ticket), class: 'form-inline col-12',
                html: { autocomplete: 'off' } do |reply_form|
                .input-group.col-12.col-lg-9
                  = reply_form.text_field :response_text, required: true, placeholder: 'Reply Text', class: 'form-control'
                  .input-group-append
                    = reply_form.submit 'Reply', class: 'btn btn-outline-secondary'
                = reply_form.button fa_icon('times'), type: :reset,
                  class: 'btn btn-outline-danger col-8 col-lg-3 mx-auto mr-lg-0 mt-2 mt-lg-0'
                = link_to fa_icon('backward'), brand_ticket_path(ticket.brand, ticket), class: 'btn btn-outline-danger'
          - when 'internal_note'
            - if policy(ticket).internal_note?
              = form_with url: brand_ticket_internal_note_path(ticket.brand, ticket), class: 'form-inline col-12',
                html: { autocomplete: 'off' } do |reply_form|
                .input-group.col-12.col-lg-9
                  = reply_form.text_field :internal_note_text, required: true, placeholder: 'Internal Note Text', class: 'form-control'
                  .input-group-append
                    = reply_form.submit 'Post', class: 'btn btn-outline-secondary'
                = reply_form.button fa_icon('times'), type: :reset,
                  class: 'btn btn-outline-danger col-8 col-lg-3 mx-auto mr-lg-0 mt-2 mt-lg-0'
                = link_to fa_icon('backward'), brand_ticket_path(ticket.brand, ticket), class: 'btn btn-outline-danger'
        - else
          .ms-lg-3.justify-content-around.justify-content-lg-start
            - if policy(ticket).reply?
              = link_to fa_icon('reply'), brand_ticket_path(ticket.brand, ticket, action_form: 'reply'),
                class: 'col-lg-1 btn btn-light', id: "toggle-reply-#{ticket.id}"
            - if policy(ticket).internal_note?
              = link_to fa_icon('sticky-note'), brand_ticket_path(ticket.brand, ticket, action_form: 'internal_note'),
                class: 'col-lg-1 btn btn-light mx-3', id: "toggle-internal-note-#{ticket.id}"
            - if policy(ticket).invert_status?
              = button_to brand_ticket_invert_status_path(ticket.brand, ticket), form_class: 'form-inline',
                class: 'btn btn-outline-success form-control', 'data-turbo' => false do
                = invert_status_action(ticket.status)
