- user_authorized = user_authorized_for?(current_user, brand)

%h4
  %span #{brand.screen_name}: Tickets
  - if user_authorized
    = button_to '↻', refresh_brand_tickets_path(brand), form_class: 'd-inline-block', class: 'btn btn-light'
%hr

- if user_authorized
  .alert.alert-secondary
    %p.mb-0
      You can create tickets manually by submitting a POST request to
      %span.font-weight-bold= brand_external_tickets_url(brand, format: :json)
      %br
      See the #{link_to 'required format', 'https://github.com/matteeyah/respondo#external-tickets'}.

.list-group.list-group-horizontal.mb-3
  = active_link_to 'Open Tickets', brand_tickets_path(brand, status: 'open'), active: { status: 'open' },
    class: 'list-group-item list-group-item-action text-center'
  = active_link_to 'Solved Tickets', brand_tickets_path(brand, status: 'solved'), active: { status: 'solved' },
    class: 'list-group-item list-group-item-action text-center'

= form_with url: brand_tickets_path(brand), local: true, method: :get,
  class: 'form-inline col-sm-12', html: { autocomplete: 'off' } do |search_form|
  = search_form.hidden_field :status, value: request.parameters[:status]
  .input-group.col-sm-8
    = search_form.text_field :query, required: true, value: request.parameters[:query],
      placeholder: 'Search by ticket content or author name', class: 'form-control'
    .input-group-append
      = link_to 'Clear Search', brand_tickets_path(brand, status: request.parameters[:status]), class: 'btn btn-outline-secondary'
  = search_form.submit 'Search', name: nil, class: 'btn btn-outline-success col-sm-3 ml-auto'

= render partial: 'brands/tickets/tickets', locals: { brand: brand, tickets: @tickets }

.row.mt-3
  .ml-auto.mr-auto
    != pagy_bootstrap_nav(@pagy)
