- if user_authorized_for?(current_user, brand)
  = button_to 'Refresh Tickets', refresh_brand_tickets_path(brand)

%span Tweets

%ul
  %li= link_to 'Open Tickets', brand_tickets_path(brand, status: 'open')
  %li= link_to 'Solved Tickets', brand_tickets_path(brand, status: 'solved')

= render partial: 'brands/tickets/tickets', locals: { brand: brand, tickets: @tickets }

!= pagy_bootstrap_nav(@pagy)
