.row
  .col-12.col-lg-10
    %h4 Tickets (#{@brand.screen_name})
  .col-12.col-lg-2.d-flex.justify-content-end
    - if policy(:ticket).refresh? && policy(@brand).user_in_brand?
      = link_to 'Load Tickets', refresh_brand_tickets_path(@brand), class: 'btn btn-outline-primary',
        'data-turbo-method' => :post, 'data-turbo-frame' => :_top
  %hr.bg-danger.border-2.border-top
  %h6 Views
  .col-lg-2
    %ul.list-group
      = active_link_to 'Open Tickets', brand_tickets_path(@brand, status: 'open'), active: { status: 'open' },
        class: 'list-group-item list-group-item-action'
      = active_link_to 'Solved Tickets', brand_tickets_path(@brand, status: 'solved'), active: { status: 'solved' },
        class: 'list-group-item list-group-item-action'
  .col-lg-10.mt-3.mt-lg-0
    = form_with url: brand_tickets_path(@brand), local: true, method: :get,
      class: 'mb-4', html: { autocomplete: 'off' } do |search_form|
      = search_form.hidden_field :status, value: request.parameters[:status]
      .row
        .col-12.col-lg-10
          .input-group
            = search_form.text_field :query, required: true, value: request.parameters[:query],
              placeholder: 'Search by ticket content or author name', class: 'form-control'
            = link_to brand_tickets_path(@brand, status: request.parameters[:status]), class: 'btn btn-outline-secondary' do
              = bi_icon('x-lg')
        .col-12.col-lg-2
          = search_form.submit 'Search', name: nil, class: 'btn btn-outline-success w-100'
    .row.mb-2
      = render partial: 'brands/tickets/tickets', locals: { brand: @brand, tickets: @tickets }
    .row
      .col-12
        .d-flex.justify-content-center
          != pagy_bootstrap_nav(@pagy)
