.row
  .col-12
    %h3 Overview
.row
  .col-12
    %p.text-muted
      = surround 'Welcome ', ", you're all set! Feel free to hop into the brand tickets!" do
        %span.text-black= current_user.name
.row
  .col-lg-12.mb-5
    .row.gy-3
      .col-lg-3
        .card.border.border-2.rounded-5.border-info.p-3
          .card-body
            = link_to brand_tickets_path(current_brand), { class: 'text-decoration-none m-0 stretched-link' } do
              .card-title
                = bi_icon('magic', 'fs-3 bg-info bg-opacity-50 text-info p-3 rounded')
                %p.text-muted.mt-3 New Tickets
              %p.fs-1= @new_count
      .col-lg-3
        .card.border.border-2.rounded-5.border-primary.p-3
          .card-body
            = link_to brand_tickets_path(current_brand, status: 'open'),
              { class: 'text-decoration-none stretched-link' } do
              .card-title
                = bi_icon('folder2-open', 'fs-3 bg-primary bg-opacity-50 text-primary p-3 rounded')
                %p.text-muted.mt-3 Total Open
              %p.fs-1= @open_count
      .col-lg-3
        .card.border.border-2.rounded-5.border-warning.p-3
          .card-body
            = link_to brand_tickets_path(current_brand), { class: 'text-decoration-none stretched-link' } do
              .card-title
                = bi_icon('stopwatch-fill', 'fs-3 bg-warning bg-opacity-50 text-warning p-3 rounded')
                %p.text-muted.mt-3 Unassigned Tickets
              %p.fs-1= @unassigned_count
      .col-lg-3
        .card.border.border-2.rounded-5.border-danger.p-3
          .card-body
            = link_to brand_tickets_path(current_brand, status: 'solved'),
              { class: 'text-decoration-none stretched-link' } do
              .card-title
                = bi_icon('folder2', 'fs-3 bg-danger bg-opacity-50 text-danger p-3 rounded')
                %p.text-muted.mt-3 Total Solved
              %p.fs-1= @solved_count
  .col-lg-6
    .card.bg-secondary.p-3.rounded-5
      .card-body
        .card-title.d-flex.justify-content-between.align-items-center.mb-2.text-light
          %span.fs-4 Newest
          = active_link_to brand_tickets_path(current_brand),
           { active: :exclusive, class: 'text-decoration-none', 'data-turbo-frame' => :_top } do
            = bi_icon('box-arrow-up-right text-light')
        .list-group.list-group-flush
          = render partial: 'ticket', collection: @newest_tickets
