<div class="col-12 col-sm-6 col-md-4 col-lg-3" id="<%= dom_id(product) %>">
  <div class="card w-100">
    <%= image_tag('no_thumbnail.svg', class: 'card-img-top, w-50 m-auto') %>
    <div class="card-body">
      <h5 class="card-title">
        <%= product.name %>
      </h5>
      <p class="card-text">
        <%= product.description %>
      </p>
      <%= link_to edit_product_path(product.id), class: 'text-decoration-none' do %>
        <button class="btn btn-primary">Edit</button>
      <% end %>
      <%= link_to 'Delete', product, 'data-turbo-method' => :delete, class: 'btn btn-danger text-decoration-none' %>
    </div>
  </div>
</div>
