<div class="row my-3 align-items-center">
  <div class="col-9">
    <span class="fs-2 me-2">Products</span>
  </div>
  <div class="col">
    <%= link_to new_product_path do %>
      <button type="button" class="btn btn-outline-primary float-end">New</button>
    <% end %>
  </div>
</div>
<div class="row my-3">
  <% @products.each do |product| %>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="card w-100">
        <%= image_tag('no_thumbnail.svg', class: 'card-img-top, w-50 m-auto') %>
        <div class="card-body">
          <h5 class="card-title">
            <%= product.name %>
          </h5>
          <p class="card-text">
            <%= product.description %>
          </p>
          <%= link_to edit_product_path(product.id), class: 'text-decoration-none' do %>
            <button class="btn btn-primary">Edit</button>
          <% end %>
          <%= link_to 'Delete', product, 'data-turbo-method' => :delete, class: 'btn btn-danger text-decoration-none' %>
        </div>
      </div>
    </div>
  <% end %>
</div>
