!!!
%html{ lang: 'en' }
  %head
    %title Respondo
    %meta{ content: 'text/html; charset=UTF-8', 'http-equiv': 'Content-Type' }
    %meta{ charset: 'utf-8' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1, shrink-to-fit=no' }
    %meta{ 'http-equiv' => 'X-UA-Compatible', content: 'IE=edge' }
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all'
  %body
    .container-fluid.p-0
      .d-flex.flex-column.flex-lg-row.vh-100
        .navbar.navbar-dark.navbar-expand-lg.bg-default
          .container-fluid.d-flex.flex-lg-column.flex-grow-1.justify-content-center.align-items-center.h-100
            .navbar-brand.mx-auto
              = image_tag('logo_circle_white.svg', class: 'img-fluid')
            %button.navbar-toggler{ type: 'button', 'data-bs-toggle' => 'collapse', 'data-bs-target' => '#main-nav' }
              %span.navbar-toggler-icon
            .flex-column.align-items-start.collapse.navbar-collapse.mt-5#main-nav
              %ul.flex-column.navbar-nav.text-center
                - if current_brand
                  %li.nav-item
                    = active_link_to brand_tickets_path(current_brand),
                      { active: :exclusive, class: 'nav-link text-decoration-none', 'data-turbo' => false } do
                      %i.bi.bi-speedometer.fs-1
                %li.nav-item.dropend
                  = link_to '#', class: 'nav-link text-decoration-none', id: 'help', title: 'Help',
                    'data-bs-toggle' => 'dropdown', 'aria-expanded' => false do
                    %i.bi.bi-question-circle.fs-1
                  %ul.dropdown-menu.dropdown-menu-dark.bg-default.shadow{ 'aria-labelledby' => 'help' }
                    %li.nav-item= safe_blank_link_to 'Documentation', 'https://docs.respondohub.com', class: 'dropdown-item'
                    %li.nav-item= safe_blank_link_to 'Feedback', 'https://respondohub.com/features#feedback', class: 'dropdown-item'
                    %li.nav-item= safe_blank_link_to 'Support', 'mailto:support@respondohub.com', class: 'dropdown-item'
                    %li.nav-item
                      %hr.dropdown-divider
                    %li.nav-item
                      = safe_blank_link_to 'Terms and conditions', 'https://respondohub.com/terms_and_conditions',
                        class: 'dropdown-item'
                    %li.nav-item
                      = safe_blank_link_to 'Privacy policy', 'https://respondohub.com/privacy_policy', class: 'dropdown-item'
              %ul.flex-column.navbar-nav.mt-auto.text-center
                %li.nav-item.dropup
                  = link_to '#', class: 'nav-link text-decoration-none', id: 'settings',
                    'data-bs-toggle' => 'dropdown', 'aria-expanded' => false do
                    %i.bi.bi-person.fs-1
                  %ul.dropdown-menu.dropdown-menu-dark.bg-default.shadow{ 'aria-labelledby' => 'settings' }
                    - if current_brand
                      %li= active_link_to 'Brand settings', edit_brand_path(current_brand),
                        active: [{ brands: :edit }], class: 'dropdown-item', 'data-turbo' => false
                    - if current_user
                      %li= active_link_to 'User settings', edit_user_path(current_user),
                        active: [{ users: :edit }], class: 'dropdown-item', 'data-turbo' => false
                      %li
                        %hr.dropdown-divider
                      %li= button_to 'Sign Out', sign_out_path, method: :delete,
                        class: 'dropdown-item btn btn-link', 'data-turbo' => false
        .h-100.flex-grow-1.overflow-auto
          %main.container.p-5{ role: 'main' }
            - if flash.any?
              - flash.each do |type, message|
                .alert.alert-dismissible.fade.show{ class: "alert-#{type}", role: 'alert' }
                  %span= message
                  %button.btn-close{ 'data-bs-dismiss' => 'alert' }
            = yield
    = javascript_importmap_tags
    = yield :custom_javascript
