!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Respondo
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .navbar.navbar-default
      .container
        .navbar-header
          .navbar-brand Respondo
        %ul.nav.navbar-nav
          %li= link_to 'Respondo', root_path
          - if user_signed_in?
            %li= link_to 'Respondo', root_path
        %p.navbar-text.navbar-right
          - if user_signed_in?
            - if current_user.brand.nil?
              %span
                = link_to 'Login Brand', user_twitter_omniauth_authorize_path
            %span
              = current_user.name
               
              = link_to '(logout)', destroy_user_session_path, method: :delete
          - else
            = link_to 'Login', user_google_oauth2_omniauth_authorize_path
    .container
      - if flash.any?
        - flash.each do |type, message|
          %div{:class => "alert alert-#{type}"}= message
      = yield
