!!!
%html{ lang: 'en' }
  %head
    %title Respondo
    %meta{ content: 'text/html; charset=UTF-8', 'http-equiv': 'Content-Type' }
    %meta{ charset: 'utf-8' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1, shrink-to-fit=no' }
    = csrf_meta_tags
    = csp_meta_tag
    %link{ rel: 'stylesheet', href: 'https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css',
      integrity: 'sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor', crossorigin: 'anonymous' }
    = stylesheet_link_tag 'application', media: 'all'
    %script{ src: 'https://kit.fontawesome.com/55ce2d2ceb.js', crossorigin: 'anonymous' }
    = javascript_importmap_tags
  %body
    .container-fluid
      .row.vh-100
        .navbar.navbar-expand-lg.col-12.col-lg-2.col-xxl-1.d-flex.flex-column.flex-grow-1.align-items-center.align-items-lg-start.p-4
          .navbar-brand.mx-auto
            %span Respondo
          %button.navbar-toggler{ type: 'button', 'data-bs-toggle' => 'collapse', 'data-bs-target' => '#main-nav' }
            %span.navbar-toggler-icon
          %hr.w-100
          .flex-column.collapse.navbar-collapse#main-nav
            %ul.flex-column.navbar-nav
              - if current_brand
                %li.nav-item
                  = active_link_to brand_tickets_path(current_brand),
                    { active: :exclusive, class: 'nav-link text-decoration-none', 'data-turbo' => false } do
                    %i.fa-solid.fa-calendar-check
                    %span.d-none.d-lg-inline.ms-1 Tickets
              - else
                %li.nav-item
                  = auth_provider_link 'Authorize Brand', 'twitter', 'brand', class: 'nav-link btn btn-link'
            %ul.flex-column.navbar-nav.mt-auto
              %li.nav-item= safe_blank_link_to 'Documentation', 'https://docs.respondohub.com', class: 'nav-link'
              %li.nav-item= safe_blank_link_to 'Feedback', 'https://respondohub.com/features#feedback', class: 'nav-link'
              %li.nav-item= safe_blank_link_to 'Support', 'mailto:support@respondohub.com', class: 'nav-link'
              %li.nav-item
                %hr.w-100
              %li.nav-item
                = safe_blank_link_to 'Terms and conditions', 'https://respondohub.com/terms_and_conditions', class: 'nav-link'
              %li.nav-item
                = safe_blank_link_to 'Privacy policy', 'https://respondohub.com/privacy_policy', class: 'nav-link'
              %li.nav-item
                %hr.w-100
              %li.nav-item.dropup
                = link_to '#', class: 'text-decoration-none dropdown-toggle', id: 'settings',
                  'data-bs-toggle' => 'dropdown', 'aria-expanded' => false do
                  %i.fa-solid.fa-user
                  %span.d-none.d-lg-inline.ms-1 Settings
                %ul.dropdown-menu.text-small.shadow{ 'aria-labelledby' => 'settings' }
                  - if current_brand
                    %li= active_link_to 'Brand settings', edit_brand_path(current_brand),
                      active: [{ brands: :edit }], class: 'dropdown-item', 'data-turbo' => false
                  - if current_user
                    %li= active_link_to 'User settings', edit_user_path(current_user),
                      active: [{ users: :edit }], class: 'dropdown-item', 'data-turbo' => false
                    %li
                      %hr.dropdown-divider
                    %li= button_to 'Sign Out', sign_out_path, method: :delete,
                      class: 'dropdown-item btn btn-link', 'data-turbo' => false
        .d-flex.flex-column.col-12.col-lg-10.col-xxl-11.h-100.overflow-auto
          %main{ role: 'main' }
            - if flash.any?
              - flash.each do |type, message|
                .alert.alert-dismissible.fade.show{ class: "alert-#{type}", role: 'alert' }
                  %span= message
                  %button.btn-close{ 'data-bs-dismiss' => 'alert' }
          = yield
    %script{ src: 'https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js',
      integrity: 'sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2', crossorigin: 'anonymous',
      type: 'text/javascript' }
    = yield :custom_javascript
