!!!
%html
  %head
    %meta{ content: 'text/html; charset=UTF-8', 'http-equiv': 'Content-Type' }/
    %title Respondo
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .navbar.navbar-default
      .container
        .navbar-header
          .navbar-brand Respondo
        %ul.nav.navbar-nav
          %li= link_to 'Respondo', root_path
          %li= link_to 'Brands', brands_path
        %p.navbar-text.navbar-right
          - if user_signed_in?
            - if brand_signed_in?
              %span
                = link_to 'Edit Brand', edit_brand_path(current_brand)
            - else
              %span
                = link_to 'Login Brand', login_twitter_path
            %span
              = current_user.name
               
              = link_to '(logout)', logout_path, method: :delete
          - else
            = link_to 'Login', login_google_path
    .container
      - if flash.any?
        - flash.each do |type, message|
          %div{ class: "alert alert-#{type}" }= message
      = yield
