!!!
%html{ lang: 'en' }
  %head
    %title Respondo
    %meta{ content: 'text/html; charset=UTF-8', 'http-equiv': 'Content-Type' }
    %meta{ charset: 'utf-8' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1, shrink-to-fit=no' }
    = csrf_meta_tags
    = csp_meta_tag
    %link{ rel: 'stylesheet', href: 'https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css',
      integrity: 'sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh', crossorigin: 'anonymous' }
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    %script{ src: 'https://kit.fontawesome.com/55ce2d2ceb.js',
      integrity: 'sha384-Kg2HWOJKCC1RRJe+qjssVARMOlXMtFlH3cZrZYjeZxsflGHj4kLkh7FgAu/8OV2X', crossorigin: 'anonymous' }
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %nav.navbar.navbar-expand-lg.navbar-light.bg-light.rounded
      %a.navbar-brand{ href: root_path }
        = image_tag('logo_circle_white.svg', class: 'mr-2')
        %span Respondo
      %button.navbar-toggler{ type: 'button', 'data-toggle' => 'collapse',
        'data-target' => '#navbar-content', 'aria-controls' => 'navbar-content',
        'aria-expanded' => 'false', 'aria-label' => 'Toggle navigation' }
        %span.navbar-toggler-icon
      .collapse.navbar-collapse#navbar-content
        %ul.navbar-nav.mr-auto
          %li.nav-item= active_link_to 'Brands', brands_path, active: [{ brands: :index }], class: 'nav-link'
          - if current_brand
            %li.nav-item= active_link_to 'Current Brand', brand_tickets_path(current_brand), active: :exclusive, class: 'nav-link'
          %li.nav-item= safe_blank_link_to 'Documentation', 'https://docs.respondohub.com', class: 'nav-link'
        .mr-2
          %ul.navbar-nav
            - if user_signed_in?
              - if current_brand.nil?
                %li.nav-item= auth_provider_link('Authorize Brand', 'twitter', 'brand', class: 'nav-link')
              - else
                %li.nav-item= active_link_to 'Brand settings', edit_brand_path(current_brand),
                  active: [{ brands: :edit }], class: 'nav-link'
              %li.nav-item= active_link_to 'User settings', edit_user_path(current_user),
                active: [{ users: :edit }], class: 'nav-link'
              %li.nav-item= link_to '(sign out)', sign_out_path, method: :delete, class: 'nav-link'
            - else
              %li.nav-item= auth_provider_link('Sign In', 'google_oauth2', 'user', class: 'nav-link')
    %main.container.mt-4{ role: 'main' }
      .sticky-top
        - if flash.any?
          - flash.each do |type, message|
            .alert.alert-dismissible.fade.show{ class: "alert-#{type}", role: 'alert' }
              %span= message
              %button.close{ 'data-dismiss' => 'alert' }
                %span{ 'aria-hidden' => 'true' } &times;
      = yield
    %footer.container
      %hr
      %p © Respondo Ltd #{Time.now.utc.year}
    %script{ src: 'https://cdnjs.cloudflare.com/ajax/libs/bootstrap.native/2.0.27/bootstrap-native-v4.min.js',
      integrity: 'sha384-a+JsMzT6HrD0E3J4MtAOfQFyYPy+6wxP+0+/F7miYZUca8YqiP+cvafmQayId7wg', crossorigin: 'anonymous',
      type: 'text/javascript' }
    = yield :custom_javascript
